@if index($btn-types, primary ){
    .btn--danger{
        background-color: #fc5a5a;

        &:active{
            background-color: darken($color: #fc5a5a, $amount: 20%) ;
        }

        @media (hover: hover) {
           &:hover,
           &:focus{
            background-color: lighten($color: #fc5a5a, $amount: 20%) ;
            
           } 
        }

        &[disabled]{
            background-color: #b5b5be;
        }
    }
}