@if index($btn-types, primary ){
    .btn--success{
        background-color: #82c43c;

        &:active{
            background-color: darken($color: #82c43c, $amount: 20%) ;
        }

        @media (hover: hover) {
           &:hover,
           &:focus{
            background-color: lighten($color: #82c43c, $amount: 20%) ;
            
           } 
        }

        &[disabled]{
            background-color: #b5b5be;
        }
    }
}